<!DOCTYPE html>
<html>
<head>
     <link rel=" stylesheet" href="/css/style.css">
     <link rel="icon" href="/icon.png">
    <title>help</title>
</head>
<body>
<div class="main-content">
    {{>header}}
</div>
<div class="foot">
    {{>footer}}
 </div>
</body>
</html>