<!DOCTYPE html>
<head>
    <link rel=" stylesheet" href="/css/style.css">
    <link rel="icon" href="/icon.png">
    
    <title>Weather</title>
</head>
<body>
 <div class="main-content">
  {{>header}}
  <p> use this site to find weather!</p>
  <form>
  <input placeholder="location">
  <button>search</button>
  </form>
  <p id="message-1"></p>
  <p id="message-2"></p>
  </div>
  
<div class="foot">
    {{>footer}}
 </div>
 <script  src="/app.js"></script>
</body>